<h1>Fancy Cocktails</h1>
<div class="banner">
<%= cl_image_tag("https://res.cloudinary.com/dhx9nosst/image/upload/v1558703741/dthh6xrixmbmp1fwhseu.jpg") %>
</div>
<% @cocktails.each do |cocktail| %>

  <h3><%= cocktail.name %></h3>

  <button><%= link_to "Details", cocktail_path(cocktail) %></button>

<% end %>

<button><%= link_to "Add a new cocktail", new_cocktail_path %></button>
